/* line 3, ../sass/_base.scss */
.font-normal {
  font-size: 14px;
  font-weight: normal;
}

/* line 1, ../sass/_bootstrap-reset.scss */
.row {
  margin-left: 0px;
  margin-right: 0px;
}

/* line 1, ../sass/_sidebar.scss */
#wrapper {
  padding-left: 70px;
  transition: all .4s ease 0s;
  height: 100%;
}
/* line 6, ../sass/_sidebar.scss */
#wrapper.active {
  padding-left: 230px;
}
/* line 9, ../sass/_sidebar.scss */
#wrapper.active #sidebar-wrapper {
  left: 230px;
}
/* line 13, ../sass/_sidebar.scss */
#wrapper.active .sub_icon_collapsed {
  display: none;
}

/* line 19, ../sass/_sidebar.scss */
#sidebar-wrapper {
  margin-left: -230px;
  left: 70px;
  width: 230px;
  background: #505176;
  position: fixed;
  height: 100%;
  z-index: 10000;
  transition: all .4s ease 0s;
}
/* line 29, ../sass/_sidebar.scss */
#sidebar-wrapper li a {
  color: #E7E7E7;
  display: block;
  float: left;
  text-decoration: none;
  width: 230px;
  -moz-transition: background, 5s;
  -o-transition: background, 5s;
  -webkit-transition: background, 5s;
  transition: background, 5s;
}

/* line 39, ../sass/_sidebar.scss */
.sidebar-nav {
  display: block;
  float: left;
  width: 230px;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 47, ../sass/_sidebar.scss */
.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}
/* line 50, ../sass/_sidebar.scss */
.sidebar-nav li a {
  color: #E7E7E7;
  display: block;
  text-decoration: none;
}
/* line 54, ../sass/_sidebar.scss */
.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}
/* line 60, ../sass/_sidebar.scss */
.sidebar-nav li a:active, .sidebar-nav li a.focus {
  text-decoration: none;
}
/* line 65, ../sass/_sidebar.scss */
.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}
/* line 70, ../sass/_sidebar.scss */
.sidebar-nav > .sidebar-brand a {
  color: #fff;
  background: none;
}

/* line 77, ../sass/_sidebar.scss */
#sidebar_menu {
  background: #46A9D4;
}

/* line 81, ../sass/_sidebar.scss */
.sidebar_name {
  padding-top: 25px;
  color: #fff;
  opacity: .7;
}

/* line 87, ../sass/_sidebar.scss */
#page-content-wrapper {
  padding-left: 0;
  margin-left: 0;
  width: 100%;
  height: auto;
}

/* line 94, ../sass/_sidebar.scss */
#page-content-wrapper {
  width: 100%;
}

/* line 98, ../sass/_sidebar.scss */
#main_icon {
  float: right;
  right: 10%;
  top: 20px;
}

/* line 104, ../sass/_sidebar.scss */
.sub_icon {
  vertical-align: middle;
  padding-right: 20px;
}

/* line 109, ../sass/_sidebar.scss */
.sub_icon_collapsed {
  float: right;
  vertical-align: middle;
  padding-right: 30px;
  padding-top: 10px;
}

/* line 116, ../sass/_sidebar.scss */
.content-header {
  height: 65px;
  line-height: 65px;
}

/* line 122, ../sass/_sidebar.scss */
.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

/* line 151, ../sass/_sidebar.scss */
#logo {
  width: 140px;
}

/* line 2, ../sass/_list.scss */
.movie-list img {
  max-width: 100%;
  min-width: 313px;
  min-height: 234px;
}
/* line 8, ../sass/_list.scss */
.movie-list .movie-line {
  padding: 20px 0;
}

/* line 13, ../sass/_list.scss */
.card {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #E6E6E6;
  color: #969696;
  font-size: 12px;
  letter-spacing: 1px;
}
/* line 21, ../sass/_list.scss */
.card .info .row {
  padding: 5px 0;
}
/* line 25, ../sass/_list.scss */
.card .title {
  font-weight: bold;
  font-size: 16px;
  color: black;
}
