.movie-list {
  img {
    max-width: 100%;
    min-width: 313px;
    min-height: 234px;
  }

  .movie-line {
    padding: 20px 0;
  }
}

.card {
  @include border-radius(8px);
  border: 1px solid #E6E6E6;
  color: #969696;
  font-size: 12px;
  letter-spacing: 1px;

  .info {
    .row {
      padding: 5px 0;
    }
  }
  .title {
    font-weight: bold;
    font-size: 16px;
    color: black;
  }

}
